# HPMoon -> Pushgateway
PUSHGATEWAY_URL=https://tfg-energy-lab.vasr.es/pushgateway

# Optional HTTP Basic Auth
PUSHGATEWAY_BASIC_USER=
PUSHGATEWAY_BASIC_PASSWORD=

# Optional bearer token
PUSHGATEWAY_TOKEN=

# Optional TLS material outside git
PUSHGATEWAY_CA_FILE=
PUSHGATEWAY_CERT_FILE=
PUSHGATEWAY_KEY_FILE=
TFG_MONITORING_HOST=tfg-energy-lab.vasr.es
MONITORING_DATA_DIR=/opt/tfg-energy-lab/volumes
HAPROXY_CERTS_DIR=/opt/front-lb/certs
CERTBOT_WEBROOT_DIR=/opt/front-lb/certbot
